body {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  width: 100%;
}

a {
  text-decoration: none;
  color: grey;
}

.d-flex {
  display: flex !important;
}
.d-in-flex {
  display: inline-flex !important;
}
.d-none {
  display: none !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.text-align-center {
  text-align: center !important;
}
.text-align-left {
  text-align: left !important;
}
.justify-content-center {
  justify-content: center;
}
.align-content-center {
  align-items: center;
}

.font-size-small {
  font-size: 0.7rem;
}
.font-color-grey {
  color: gray;
}

.ml-0 {
  margin-left: 0rem;
}
.ml-0-5 {
  margin-left: 0.1rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
